[package]
name = "backend"
version = "0.1.0"
edition = "2021"

[features]
prod = []

[dependencies]
axum = "0.7"
tokio = { version = "1.0", features = ["full"] }
dotenvy = "0.15.7"
diesel = { version = "2.2", features = ["postgres"] }