.navbar {
    background-color: var(--primary-color);
    border-bottom: 1px solid var(--accent-color);
    padding: 0.5rem 1rem;
}

.brand {
    color: white;
    font-size: 1.5rem;
    font-weight: 500;
}