.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
}

.login-form {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    border: 1px solid var(--secondary-color);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-header {
    text-align: center;
    color: white;
    font-size: 24px;
    font-weight: 500;
    background-color: var(--primary-color);
    margin-bottom: 20px;
    height: 50px;
    padding: 10px;
    border-radius: 5px;
}

.login-btn {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: var(--accent-color);
    color: var(--secondary-color);
    font-size: 16px;
    cursor: pointer;
    margin: 10px 0;
}

.login-btn:hover {
    background-color: var(--primary-color);
    color: white;
}